<?xml version="1.0"?>
<config>
    <modules>
        <JokiRuiz_Stockists>
            <version>0.0.1</version>
        </JokiRuiz_Stockists>
    </modules>
    <global>
        <models>
            <jokiruiz_stockists>
                <class>JokiRuiz_Stockists_Model</class>
                <resourceModel>jokiruiz_stockists_mysql4</resourceModel>
            </jokiruiz_stockists>

            <jokiruiz_stockists_mysql4>
                <class>JokiRuiz_Stockists_Model_Mysql4</class>
                <entities>
                    <stockists>
                        <table>jokiruiz_stockists</table>
                    </stockists>
                </entities>
            </jokiruiz_stockists_mysql4>
        </models>

        <blocks>
            <jokiruiz_stockists>
                <class>JokiRuiz_Stockists_Block</class>
            </jokiruiz_stockists>
        </blocks>

        <helpers>
            <jokiruiz_stockists>
                <class>JokiRuiz_Stockists_Helper</class>
            </jokiruiz_stockists>
        </helpers>
    </global>

    <resources>
        <jokiruiz_stockists_setup>
            <setup>
                <module>JokiRuiz_Stockists</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </jokiruiz_stockists_setup>
        <jokiruiz_stockists_write>
            <connection>
                <use>core_write</use>
            </connection>
        </jokiruiz_stockists_write>
        <jokiruiz_stockists_read>
            <connection>
                <use>core_read</use>
            </connection>
        </jokiruiz_stockists_read>
    </resources>

    <frontend>
        <routers>
            <stockists>
                <use>standard</use>
                <args>
                    <module>JokiRuiz_Stockists</module>
                    <frontName>stockists</frontName>
                </args>
            </stockists>
        </routers>
        <layout>
            <updates>
                <assign>
                    <file>jokiruiz/stockists.xml</file>
                </assign>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <assign>
                    <file>jokiruiz/stockistadmin.xml</file>
                </assign>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <JokiRuiz_Stockists before="Mage_Adminhtml">JokiRuiz_Stockists_Adminhtml</JokiRuiz_Stockists>
                    </modules>
                </args>
            </adminhtml>
        </routers>

    </admin>
</config>